.letter {
    font-size: 60; color: red; font-weight: bolder; text-align: center;
    text-decoration: none;
}

table a {
    font-size: 60; color: red; text-align: center;
    text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}