{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pokemon_letter/style.css' %}">

<img class="center" src="{{pokemon.image.url}}" style="align:center">
<br>

<div class="outer-div">
{% for letter in letters %}
    <div class="inner-div">
    {% if letter == pokemon.name.0 %}
        <a href="{% url 'pokemon_letter:next_pokemon' pokemon.id %}" class="letterButton">{{letter}}</a>
    {% else %}
        <a href=# class="letterButton">{{letter}}</a>
    {% endif %}
    </div>
{% endfor %}
</div>